@model IEnumerable<TrinhQuangMinhBTH2>
<p>
    <a class="btn btn-success" asp-action="Create">Create a new Student</a>
</p>
<table class="table table-all">
    <tr>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Faculty</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(m => item.StudenID)</td>
            <td>@Html.DisplayFor(m => item.StudentName)</td>
            <td>@Html.DisplayFor(m => item.Faculty!.FacultyName)</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID" class="btn btn-success">Sửa</a>
                <a asp-action="Delete" asp-route-id="@item.StudentID" class="btn btn-danger">Xóa</a>
            </td>
        </tr>
    }
</table>